@model BusinessLayer.Task

@{
    ViewBag.Title = "Tworzenie zadania";
}

<h2>Utwórz zadanie</h2>

<style>
    textarea {
        resize: vertical;
        width: 300px;
    }    
</style>

@using (Html.BeginForm("Create", "Task", new { ProjectId = ViewBag.ProjectId}, FormMethod.Post)) 
{
                @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    <div class="form-group">
        @Html.Label("Nazwa", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        @Html.Label("Opis", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Ilość godzin", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Hour, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Hour, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Przydzielono", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Assigne", new List<SelectListItem>(BusinessLayer.UserBissnessLayer.getUserFromProject(ViewBag.ProjectId)), "Nie przydzielono")

        </div>
    </div>

    <div class="form-group">
       <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Utwórz" class="btn btn-default" />
       </div>
    </div>
    </div>
    }

    <div>
        @Html.ActionLink("Powrót do zadań", "Task", "Project", new { id = ViewBag.ProjectId }, null)
    </div>
